Xft.dpi: 96
URxvt.font: xft:Source Code Pro:style=Regular:size=10
URxvt.boldFont: xft:Source Code Pro:style=Bold:size=10
URxvt.scrollBar: false
URxvt.perl-ext-common:resize-font
URxvt.keysym.C-minus:resize-font:smaller
URxvt.keysym.C-equal:resize-font:bigger
URxvt.keysym.C-0:resize-font:reset

! special
*.foreground:   #D8DEE9
*.background:   #050C11
*.cursorColor:  #d8dee9

! black
*.color0:       #3B4252
*.color8:       #4C566A

! red
*.color1:       #BF616A
*.color9:       #BF616A

! green
*.color2:       #A3BE8C
*.color10:      #A3BE8C

! yellow
*.color3:       #EBCB8B
*.color11:      #EBCB8B

! blue
*.color4:       #81A1C1
*.color12:      #81A1C1

! magenta
*.color5:       #B48EAD
*.color13:      #B48EAD

! cyan
*.color6:       #88C0D0
*.color14:      #8FBCBB

! white
*.color7:       #E5E9F0
*.color15:      #ECEFF4

